
.description{

  position: absolute;
  word-wrap: break-word;
  left: 10px;
  top: 100px;
  width: 20em;
  font-weight: bold;
}
.gameName{

   position: absolute;
   left: 10px;
   top: 2px;

}
h4{
  color: white;
}
input[type=submit] {
    width: 100px;
    height: 10px;
    background-color: #1c1e33;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;


}
