body{
    margin: 0 auto;
    position: relative;
}
/*  Global in Home Page */
.mainColor{
    color: #48c9b0;
}

/* End Global in Home Page */

/* Start Nav Bar Bootstrap Section */
.myNav{
    z-index: 999;
    background-color: transparent;
    margin-top: 22px;
    height: 0px
}
.navbar-collapse .navbar-nav.navbar-right:last-child{
    margin-top: 10px;
}
.navbar-default .navbar-nav>li {
    border: 1px solid #48c9b0;
    margin-right: 5px;
    border-radius: 10px;
}

.navbar-default .navbar-nav>li:hover a{
    color: #48c9b0;
}
.navbar-default .navbar-nav>li>a{
    color: #EEE;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-left: 5px;
}


/* End nav bar BootsTrap Section */


/* Start Home Page Sections */
.HomePage{
    background-image: url(../img/Slider.jpg);
      background-size: cover;
    height: 600px;
    position: relative;
    margin-top: -105px;
    position: relative;
}
.overLay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    
}
.describtion{
    margin-top: 200px;
    margin-left: 328px;
    color: #fff;
}
.describtion p{
    font-size: 40px;
}
.tweak{
    font-size: 80px;
    font-weight: bolder;
    font-style: fantasy;
    
}
.signUp .btn {
    
    border-radius: 3px;
    float: right;
    margin-right: 400px;
    width: 170px;
    height: 40px;
    line-height: 20px;
}
.signUp .btn {
    font-size: 15px;
}
#particles-js{
    height: 562px;

}

.signupBTN{
       width: 200px;
    height: 134px;
    padding: 10px;
    border: 1px solid #48c9b0;
    border-radius: 11px;
    margin-left: -24px;
    margin-top: 20px;
    display: none;
}
.signupBTN a {
    margin-top: 10px;
}
/* End Home Page Sections */
.signUpB{
    position: absolute;
}
.overLay1{
      position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    
}
.signUpB{
        display: none;

}
.ourBtns{
    margin-top: 200px;
    height: 220px;
    width: 800px;
    border: 1px solid #383F4D;
    border-radius: 10px;
    position: relative;
}
.ourBtns h3 , .ourBtns h4{
    color: #fff;
}
.ourBtns i {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 10px;

}
.ourBtns span{
    color: #48c9b0;

}
.ourBtns i:hover{
    cursor: pointer;
    color: #48c9b0;
}